@import url("https://fonts.googleapis.com/css2?family=Poiret+One&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: "Roboto";
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  /* background: linear-gradient(135deg, #005ca9, #ed1c24); */
  /* background: linear-gradient(135deg, #003f6f, #005ca9, #c8102e, #ed1c24); */
}

h1 {
  padding-bottom: 20px;
  color: #e9ecef;
  font-size: clamp(0.5rem, 2rem, 2.5rem);
}

label {
  padding-bottom: 10px;
  font-size: clamp(0.5rem, 1.125rem, 2rem);
  font-weight: 600;
}

input {
  padding: 10px;
  height: 1.875rem;
  font-size: clamp(0.5rem, 1.2rem, 1.5rem);
}

span {
  font-weight: 800;
  font-size: clamp(0.5rem, 1.2rem, 1.5rem);
}

p {
  display: flex;
  justify-content: space-between;
}

label,
p {
  color: #020024;
}

#paragrafoTitulo {
  font-size: clamp(0.5rem, 1.2rem, 1.5rem);
  padding-bottom: 10px;
  font-weight: 600;
  text-align: center;
  display: block;
}

.main-container {
  width: 550px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  gap: 5px;
}

.main-titulo {
  text-align: center;
}

.container {
  border: 1px solid grey;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 1.5rem;
  background-color: #f8f9fa;
}

.form-calculadora {
  grid-template-areas:
    "ip cidr"
    "btn btn";
}

.ip-field,
.cidr-field {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.ip-field {
  grid-area: ip;
}

.cidr-field {
  grid-area: cidr;
  width: 6.25rem;
  place-self: end;
}

.form-resultado {
  grid-template-areas:
    "address mask"
    "subnets hosts";
}

.address-field,
.mask-field,
.subnets-field,
.hosts-field {
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
}

.address-field,
.subnets-field {
  max-width: 15.625rem;
}

.address-field {
  grid-area: address;
}

.mask-field,
.hosts-field {
  max-width: 12.5rem;
  place-self: end;
}

.mask-field {
  grid-area: mask;
}

.subnets-field {
  grid-area: subnets;
}

.hosts-field {
  grid-area: hosts;
}

.ip-input-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: baseline;
}

.ip-input-container p {
  font-weight: 800;
  font-size: clamp(0.5rem, 1.2rem, 1.5rem);
}

.ip-input {
  width: 4.6rem;
}

/* Retirado temporariamente para testar container detalhes flexivel com novo campo de listar intervalo de ip's */
/* #detalhes {
  height: 12.5rem;
} */

#paragrafoFooter {
  height: 6vh;
  color: #e9ecef;
  display: flex;
  align-items: end;
  padding-bottom: 10px;
}

#paragrafoFooter p {
  color: #e9ecef;
}

.container-p {
  font-weight: 800;
  font-size: clamp(0.5rem, 1.2rem, 1.5rem);
}

.displayToggle {
  display: none;
}
