* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e9ecef;
}

h1 {
  padding-bottom: 25px;
}

label {
  padding-bottom: 10px;
  font-size: large;
}

input {
  padding: 10px;
  height: 30px;
  font-size: large;
  /* max-width: 350px; */
}

input::placeholder {
  font-size: medium;
}

.main-container {
  max-width: 700px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  gap: 5px;
}

.main-titulo {
  text-align: center;
}

.container {
  border: 1px solid grey;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 25px;
  background-color: #f8f9fa;
}

.form-calculadora {
  grid-template-areas:
    "ip cidr"
    "btn btn";
}

.ip-field,
.cidr-field {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.ip-field {
  grid-area: ip;
}

.cidr-field {
  grid-area: cidr;
  width: 100px;
  place-self: end;
}

#btn-calcular {
  grid-area: btn;
  height: 40px;
  background-color: blue;
  color: white;
  font-size: large;
  font-weight: 600;
  border-radius: 10px;
  border: none;
}

.form-resultado {
  grid-template-areas:
    "address mask"
    "subnets hosts";
}

.address-field,
.mask-field,
.subnets-field,
.hosts-field {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.address-field,
.subnets-field {
  max-width: 250px;
}

.address-field {
  grid-area: address;
}

.mask-field,
.hosts-field {
  max-width: 200px;
  place-self: end;
}

.mask-field {
  grid-area: mask;
}

.subnets-field {
  grid-area: subnets;
}

.hosts-field {
  grid-area: hosts;
}

.ip-input-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: baseline;
}

.ip-input-container p {
  font-weight: 800;
  font-size: large;
}

.ip-input {
  width: 116px;
}
